.carrossel-title {
  color: var(--laranja);
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-paginaton {
  position: initial;
  margin: 0.5em 0;
}

.card-descripton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.card_buttons {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.card {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.descripton-title {
  color: var(--laranja);
  font-weight: 700;
}

.descripton-title-book {
  color: #002f52;
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descripton-text {
  font-size: 14px;
}

.buttons-item {
  margin: 0 0.5em;
}

.button-ancora {
  background-color: var(--laranja);
  padding: 1em 2.2em;
  color: #ffff;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .carrossel-title {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }
}
