.cabecalho-menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../assets/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container-image {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container-button:checked ~ .lista-menu {
  display: block;
}

.lista-menu-titulo,
.lista-menu {
  padding: 1em;
  background-color: #ffff;
}

.lista-menu-titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu-link {
  background: var(--azul);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container-button {
  display: none;
}

.container-title {
  display: none;
}

.opcoes {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container-title,
  .container-title--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container-title {
    font-weight: 400;
    display: block;
  }

  .container-title--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes-item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes-link {
    text-decoration: none;
    color: var(--preto);
  }

  .container-image-transparent {
    display: none;
  }

  .cabecalho-menu-hamburguer {
    display: none;
  }
}
